spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/DB4PetProject1
    username: postgres
    password: 123

  jpa:
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.PostgreSQLDialect
      show_sql: true
      format_sql: true

  cache:
    type: redis
    redis:
      time-to-live: 10m

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 6000ms
