services:
  redis:
    image: redis:7
    container_name: minipet-redis
    ports:
      - "6379:6379"
    restart: always

  mongo:
    image: mongo:7
    container_name: minipet-mongo
    ports:
      - "27017:27017"
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: username
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
